body {
    background-image: url("fav.jpg");
    background-size: 100% auto;
}

/*#user-location {
    font-size: 80px;
    color: black;
    text-align: center;
    font-family: Courier;
}*/

form {
    font-size: 20px;
    color: black;
    text-align: center;
    font-family: Verdana;
}

/*.radio {
    font-size: 20px;
    color: white;
    text-align: center;
    font-family: Courier;
}*/

#googleMap {
    margin: auto;
}

#user-location {
    height: 30px;
    width: 350px;
    font-size:14pt;
}