<!doctype html>
<html>
<head>
    <title>Sunset Funset</title>
    <!-- Bootstrap link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- dropdown stylesheet css -->
    <link rel="stylesheet" href="../static/dropdowns-enhancement.css">
    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="../static/style.css">
    <!-- Favicon link -->
   <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- dropdown stylesheet js -->
    <script src="../static/dropdowns-enhancement.js"></script>
    <!--  Google Places library, key required -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYvvD-cX7HRCN3A5J_8F9mNG4LroXdRiM&libraries=places"></script>
    <!-- My javascript code -->
    <script src="../static/script.js"></script>
    <!-- Google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-82442855-1', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- meta tags for social media -->
    <meta property="og:title" content="Sunset Funset"/>
    <meta property="og:description" content="a data driven approach to sunsets"/>
    <meta property="og:image" content="http://www.sunsetfunset.com/static/lookwest.jpg"/>
    <meta property="og:url" content="http://www.sunsetfunset.com/"/>
    <meta name="twitter:title" content="Sunset Funset"/>
    <meta name="twitter:description" content="a data driven approach to sunsets"/>
    <meta name="twitter:image" content="http://www.sunsetfunset.com/"/>
    <meta name="twitter:card" content="http://www.sunsetfunset.com/static/lookwest.jpg"/>

</head>


<body>
    {% block content %} put your content here {% endblock %}
</body>
</html>