<!doctype html>
<html>
<head>
    <title>Sunset</title>
    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="../static/style.css">
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- JavaScript code for the Maps API is loaded via a bootstrap URL -->
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <!-- My javascript code -->
    <script src="../static/script.js"></script>
</head>

<body>
    {% block content %} put your content here {% endblock %}
</body>
</html>