<!doctype html>
<html>
<head>
    <title>Sunset Funset</title>
    <!-- Bootstrap link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- dropdown stylesheet css -->
    <link rel="stylesheet" href="../static/dropdowns-enhancement.css">
    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="../static/style.css">
    <!-- Favicon link -->
   <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- dropdown stylesheet js -->
    <script src="../static/dropdowns-enhancement.js"></script>
    <!--  Google Places library, key required -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0YC5Rhn9N2POBLcNsZS5K8agul4zq6vw&libraries=places"></script>
    <!-- My javascript code -->
    <script src="../static/script.js"></script>

</head>


<body>
    {% block content %} put your content here {% endblock %}
</body>
</html>